@@font-face {
  font-family: Helvetica;
  src: url(font/Helvetica400.ttf);
}
body{
  background-color: black;
}
.accesscodeschool
{
  text-align: center;
  background-color: white;
  font-family: Helvetica;
  width: 35%;
  margin: auto;
}
.access
{
  font-weight: bold;
}
.code
{
  font-weight: bold;
  background-color: rgb( 211,31,67);
  padding-bottom: 1px;
  color: white
;
}
.school
{
  display: inline-block;
  letter-spacing: 12px;
  font-size: 12px;
  padding-left: 1em;
  border-top: 0.5rem;


}
.accesscode
{
  text-decoration: underline;
  text-underline-position: under;
}
.bal
{
  color: rgb( 211,31,67);
  font-weight: bold;
}
