@@font-face {
  font-family: Helvetica;
  src: url(font/Helvetica400.ttf);
}
.accesscodeschool
{
  text-align: center;
  background-color: white;
  font-family: Helvetica;
}
.access
{
  font-weight: bold;
}
.code
{
  font-weight: bold;
  color: white;
  background-color: rgb( 211,31,67);
  padding: 1px;
}
.accesscode
{
  font-size: 2rem;
  padding-left: 4px;
  padding-right:4px;
}
.school
{
  word-spacing: 2.23rem;
  font-size: 0.55rem;
  border-top: 0.001rem solid;
  border-color: black;
  padding-top: 6px;
}
.bal
{
  color: rgb( 211,31,67);
  font-weight: bold;
  font-size: 2rem;
}
