@@font-face {
  font-family: Helvetica;
  src: url(font/Helvetica400.ttf);
}
.accesscodeschool
{
  text-align: center;
  background-color: white;
  font-family: Helvetica;

  margin: auto;
}
.access
{
  font-weight: bold;

}
.code
{
  font-weight: bold;
  background-color: rgb( 211,31,67);
  padding-bottom: 1px;
  color: white
;
}
.school
{

  letter-spacing: 0.8rem;
  font-size: 0.7rem;
  padding-left: 1em;
  border-top: 0.5rem;


}
.accesscode
{
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 0.01rem;
}
.bal
{
  color: rgb( 211,31,67);
  font-weight: bold;
}
